P          {line-height: 150%}
.challenge {background: yellow; padding: 10}
.activity  {background: #ffffaa; padding: 10}
.key       {background: #fbdd40; padding: 10}
.image     {font-size: 80%; align=center}

 /* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
} 
